In [1]:
import pandas as pd

In [2]:
source = '../source/wuenic2017rev_web_update.xlsx'

In [3]:
readme = pd.read_excel(source)

In [9]:
readme.iloc[11:, 0].to_list()

['BCG = Percentage of live births who received bacille Calmette-Guérin (vaccine against tuberculosis)',
 'DTP1 = Percentage of surviving infants who received the first dose of DTP containing vaccine',
 'DTP3 = Percentage of surviving infants who received the third dose of DTP containing vaccine',
 'HepBB = Percentage of live births who received Hepatitis B vaccine within 24 hours of birth',
 'HepB3 = Percentage of surviving infants who received the third dose of HepB containing vaccine',
 'Hib3 = Percentage of surviving infants who received the third dose of Hib containing vaccine',
 'IPV1 = Percentage of surviving infants who received the first dose of inactivated polio containing vaccine',
 'MCV1 = Percentage of surviving infants who received the first dose of measles containing vaccine',
 'MCV2 = Percentage of children who received the second dose of measles containing vaccine as per administered in the national schedule',
 'PCV3 = Percentage of surviving infants who received the third dose of pneumococcal conjugate vaccine',
 'Pol3 = Percentage of surviving infants who received the third dose of polio vaccine',
 'RCV1 = Percentage of surviving infants who received the first dose of rubella containing vaccine',
 'RotaC = Percentage of surviving infants who received the last dose of rotavirus vaccine (2nd or 3rd dose depending on vaccine used)',
 'YFV = Percentage of surviving infants who received a dose of yellow fever vaccine (for countries at risk of YF and where YF vaccine in the national schedule)',
 nan,
 'For further information, visit data.unicef.org/child-health/immunization or www.who.int/immunization/monitoring_surveillance/data/en/',
 nan,
 '* Note: Countries not shown in the following pages for a given vaccine are not represented either because the vaccine has not been introduced in the country or because the country is not reporting data for the vaccine.']

In [16]:
tabs = readme.iloc[11:, 0].to_list()[:-4]

In [17]:
tabs = list(map(lambda x: x.split(' = ')[0], tabs))

In [18]:
tabs

['BCG',
 'DTP1',
 'DTP3',
 'HepBB',
 'HepB3',
 'Hib3',
 'IPV1',
 'MCV1',
 'MCV2',
 'PCV3',
 'Pol3',
 'RCV1',
 'RotaC',
 'YFV']

In [32]:
# fix
tabs[-2] = 'ROTAC'

In [19]:
data1 = pd.read_excel(source, sheet_name=tabs[0])

In [21]:
df = data1.copy()
df['country'] = df['iso3'].str.lower()
df['vaccine'] = df['vaccine'].str.lower()

df = df.drop(['unicef_region', 'iso3'], axis=1)

df = df.set_index(['country', 'vaccine'])

In [26]:
df = df.stack().reset_index()

In [28]:
df.columns = ['country', 'vaccine', 'year', 'immunization_coverage']

In [29]:
df

     country vaccine  year  immunization_coverage
0        afg     bcg  2017                   74.0
1        afg     bcg  2016                   74.0
2        afg     bcg  2015                   74.0
3        afg     bcg  2014                   74.0
4        afg     bcg  2013                   72.0
5        afg     bcg  2012                   78.0
6        afg     bcg  2011                   71.0
7        afg     bcg  2010                   68.0
8        afg     bcg  2009                   64.0
9        afg     bcg  2008                   66.0
10       afg     bcg  2007                   60.0
11       afg     bcg  2006                   60.0
12       afg     bcg  2005                   57.0
13       afg     bcg  2004                   51.0
14       afg     bcg  2003                   44.0
15       afg     bcg  2002                   46.0
16       afg     bcg  2001                   43.0
17       afg     bcg  2000                   30.0
18       afg     bcg  1999                   38.0
19       afg     bcg  1998                   35.0
20       afg     bcg  1997                   43.0
21       afg     bcg  1996                   47.0
22       afg     bcg  1995                   31.0
23       afg     bcg  1994                   15.0
24       afg     bcg  1993                   17.0
25       afg     bcg  1992                   19.0
26       afg     bcg  1991                   21.0
27       afg     bcg  1990                   30.0
28       afg     bcg  1989                   38.0
29       afg     bcg  1988                   40.0
...      ...     ...   ...                    ...
5549     zwe     bcg  2010                   99.0
5550     zwe     bcg  2009                   90.0
5551     zwe     bcg  2008                   91.0
5552     zwe     bcg  2007                   87.0
5553     zwe     bcg  2006                   84.0
5554     zwe     bcg  2005                   80.0
5555     zwe     bcg  2004                   76.0
5556     zwe     bcg  2003                   78.0
5557     zwe     bcg  2002                   80.0
5558     zwe     bcg  2001                   82.0
5559     zwe     bcg  2000                   84.0
5560     zwe     bcg  1999                   86.0
5561     zwe     bcg  1998                   88.0
5562     zwe     bcg  1997                   92.0
5563     zwe     bcg  1996                   96.0
5564     zwe     bcg  1995                   96.0
5565     zwe     bcg  1994                   95.0
5566     zwe     bcg  1993                   95.0
5567     zwe     bcg  1992                   91.0
5568     zwe     bcg  1991                   91.0
5569     zwe     bcg  1990                   91.0
5570     zwe     bcg  1989                   90.0
5571     zwe     bcg  1988                   89.0
5572     zwe     bcg  1987                   94.0
5573     zwe     bcg  1986                   94.0
5574     zwe     bcg  1985                   76.0
5575     zwe     bcg  1984                   69.0
5576     zwe     bcg  1983                   67.0
5577     zwe     bcg  1982                   65.0
5578     zwe     bcg  1981                   64.0

[5579 rows x 4 columns]

In [30]:
def process_dp(df_):
    df = df_.copy()
    df['country'] = df['iso3'].str.lower()
    df['vaccine'] = df['vaccine'].str.lower()

    df = df.drop(['unicef_region', 'iso3'], axis=1)

    df = df.set_index(['country', 'vaccine'])
    df = df.stack().reset_index()
    df.columns = ['country', 'vaccine', 'year', 'immunization_coverage']
    
    return df

In [36]:
res_df = []

for t in tabs:
    data = pd.read_excel(source, sheet_name=t)
    res_df.append(process_dp(data))

In [39]:
df_final = pd.concat(res_df, ignore_index=True, keys=['country', 'year', 'vaccine'])

In [41]:
df_final = df_final.sort_values(by=['country', 'vaccine', 'year'])

In [43]:
df_final.to_csv('../../ddf--datapoints--immunization_coverage--by--country--vaccine--year.csv', index=False)

In [53]:
# global and regional

In [54]:
data_reg = pd.read_excel(source, sheet_name='global_regional')

In [55]:
df_reg = data_reg[['region', 'vaccine', 'year', 'coverage']].copy()

In [56]:
df_gbl = data_reg[data_reg.region == 'Global'].copy()

In [58]:
df_regs = data_reg[~(data_reg.region == 'Global')].copy()

In [61]:
df_gbl.head()

    group  region vaccine  year  coverage
0  Global  Global     bcg  1980        15
1  Global  Global    dtp1  1980        31
2  Global  Global    dtp3  1980        21
3  Global  Global    mcv1  1980        17
4  Global  Global    pol3  1980        22

In [62]:
df_regs.head()

             group               region vaccine  year  coverage
371  Unicef Region  East Asia & Pacific     bcg  1980        16
372  Unicef Region  East Asia & Pacific    dtp1  1980        13
373  Unicef Region  East Asia & Pacific    dtp3  1980         9
374  Unicef Region  East Asia & Pacific    mcv1  1980         4
375  Unicef Region  East Asia & Pacific    pol3  1980         5

In [63]:
df_gbl_ = df_gbl.drop('group', axis=1)
df_gbl_['region'] = 'global'
df_gbl_.columns = ['global', 'vaccine', 'year', 'immunization_coverage']

In [65]:
df_gbl_.sort_values(by=['global', 'vaccine', 'year']).to_csv('../../ddf--datapoints--immunization_coverage--by--global--vaccine--year.csv', index=False)

In [67]:
df_reg_ = df_regs.drop('group', axis=1)
df_reg_.region.unique()

array(['East Asia & Pacific', 'Eastern & Southern Africa',
       'Eastern Europe & Central Asia', 'Latin America & Caribbean',
       'Middle East & North Africa', 'North America', 'South Asia',
       'West & Central Africa', 'Western Europe'], dtype=object)

In [68]:
from ddf_utils.str import to_concept_id

In [69]:
df_reg_['region'] = df_reg_['region'].map(to_concept_id)

In [71]:
df_reg_.columns = ['region', 'vaccine', 'year', 'immunization_coverage']

In [72]:
df_reg_.sort_values(by=['region', 'vaccine', 'year']).to_csv(
    '../../ddf--datapoints--immunization_coverage--by--region--vaccine--year.csv', index=False)

In [ ]:
# entities

In [108]:
cty_df = []

for t in tabs:
    data = pd.read_excel(source, sheet_name=t)
    cty_df.append(data[['iso3', 'country']])

In [127]:
country = pd.concat(cty_df, ignore_index=True, sort=False).drop_duplicates()

In [128]:
country.head()

  iso3      country
0  AFG  Afghanistan
1  ALB      Albania
2  DZA      Algeria
3  AGO       Angola
4  ARG    Argentina

In [129]:
country.columns = ['country', 'name']

country['country'] = country['country'].str.lower()

In [130]:
country['is--country'] = 'TRUE'

In [131]:
country.to_csv('../../ddf--entities--geo--country.csv', index=False)

In [75]:
gbl = df_gbl[['region']].drop_duplicates()

In [76]:
gbl.columns = ['global']

In [77]:
gbl['name'] = 'Global'
gbl['global'] = 'global'
gbl['is--global'] = 'TRUE'

In [86]:
gbl.to_csv('../../ddf--entities--geo--global.csv', index=False)

In [87]:
reg = df_reg[['region']].drop_duplicates()

In [88]:
reg.columns = ['name']

In [89]:
reg['region'] = reg['name'].map(to_concept_id)

In [90]:
reg['is--region'] = 'TRUE'

In [95]:
reg[['region', 'name', 'is--region']].to_csv('../../ddf--entities--geo--region.csv', index=False)

In [92]:
vacc = pd.DataFrame(tabs)

In [96]:
vacc.columns = ['name']
vacc['vaccine'] = vacc['name'].str.lower()

In [98]:
vacc[['vaccine', 'name']].to_csv('../../ddf--entities--vaccine.csv', index=False)

In [100]:
# concepts

In [104]:
cdf1 = pd.DataFrame([
    ['immunization_coverage', 'Percentage of live births who recived vaccine', 'measure']
], columns=['concept', 'name', 'concept_type'])

cdf2 = pd.DataFrame([
    ['name', 'Name', 'string'],
    ['year', 'Year', 'time'],
    ['domain', 'Domain', 'string'],
], columns=['concept', 'name', 'concept_type'])

cdf3 = pd.DataFrame([
    ['geo', 'Geo', 'entity_domain', ''],
    ['country', 'Country', 'entity_set', 'geo'],
    ['region', 'Region', 'entity_set', 'geo'],
    ['global', 'Global', 'entity_set', 'geo'],
    ['vaccine', 'Vaccine', 'entity_domain', '']
], columns=['concept', 'name', 'concept_type', 'domain'])

In [105]:
cdf = pd.concat([cdf1, cdf2, cdf3], ignore_index=True, sort=False)

In [106]:
cdf

,concept,name,concept_type,domain
0,immunization_coverage,Percentage of live births who recived vaccine,measure,NaN
1,name,Name,string,NaN
2,year,Year,time,NaN
3,domain,Domain,string,NaN
4,geo,Geo,entity_domain,
5,country,Country,entity_set,geo
6,region,Region,entity_set,geo
7,global,Global,entity_set,geo
8,vaccine,Vaccine,entity_domain,

In [107]:
cdf.to_csv('../../ddf--concepts.csv', index=False)

In [73]:
!open ../../